AI_PROVIDER=xunfei
PORT=3001

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=ai_interpreter
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
ACCESS_TOKEN_SECRET=replace_with_access_token_secret
REFRESH_TOKEN_SECRET=replace_with_refresh_token_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=10
PASSWORD_SALT_ROUNDS=12

XUNFEI_APP_ID=your_xunfei_app_id
XUNFEI_API_KEY=your_xunfei_api_key
XUNFEI_API_SECRET=your_xunfei_api_secret
XUNFEI_IAT_URL=wss://iat-api.xfyun.cn/v2/iat
XUNFEI_IAT_LANGUAGE=zh_cn
XUNFEI_IAT_ACCENT=mandarin
XUNFEI_IAT_DOMAIN=iat
XUNFEI_IAT_VAD_EOS=5000
XUNFEI_IAT_DWA=true

XUNFEI_TRANSLATION_APP_ID=your_xunfei_translation_app_id
XUNFEI_TRANSLATION_API_KEY=your_xunfei_translation_api_key
XUNFEI_TRANSLATION_API_SECRET=your_xunfei_translation_api_secret
XUNFEI_TRANSLATION_URL=https://ntrans.xfyun.cn/v2/ots
XUNFEI_TRANSLATION_FROM=en
XUNFEI_TRANSLATION_TO=cn
TRANSLATION_DEBOUNCE_MS=500
TRANSLATION_TIMEOUT_MS=15000
